body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{

    /* border: 2px solid yellow; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box{

    border: 2px solid rgb(0, 0, 0);
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.queez{

    border: 2px solid black;
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer{

    /* border: 2px solid black; */
    width: 80%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.option{

    border: 2px solid black;
    width: 45%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circles{

    /* border: 2px solid black; */
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.circle{

    width: 20px;
    height: 20px;
    border: 1px solid rgb(71, 66, 66);
    border-radius: 50%;
}